<div class="card mat-card">
    <div id="exp">
       <h1>Proyectos </h1>
       
            <a href="#" class="plus" onclick="cambiar_parrafo()" >
                 <i class="fab fa-plus fa-3x" ></i>
           </a>
       
       <div>
           
           <ul class="items-list">
             
               <li *ngFor="let proyectos of proyectoslist">
                  
                   <div class="data-container">
                       
                           <div class="list-info" style="color:black;">
                               <div>
                               <h3>{{proyectos.position}}</h3>
                               
                               <h5 style="color:darkgray;">{{proyectos.lugar}}: <time>{{proyectos.start}}</time> - <time>{{proyectos.end}}</time></h5>
                               </div>
                           </div>
                           <div class="data-control">
                               <div class="btn-edit">
                                   <a href="#" class="btn-rigth"><i class="fa fa-pen"></i></a>
                                   <a href="#" class="btn-rigth"><i class="fa fa-trash" style="margin-left:2% ;"></i></a>
                               </div>
                           </div>
                   </div>
                 
               </li>
           </ul>
       </div>
    </div>
   </div>