<div id="acerca">
    <h1>Acerca de mi</h1>
    <div class="btn-edit" (click)="oculto=!oculto">
         <a  class="btn-right">
              <i class="fa fa-pen" ></i>
         </a>
    </div>
    <ul class="items-list">
    <li *ngFor="let about of acerca">
    
     <div class="data-container">
         
          <div class="list-info" style="color:black;">
           <div>
               <h3 id="edit-acerca">{{about.abaut}}</h3>
          </div>
           </div>  
          <input id="edit-acerca"  [(ngModel)]="about.abaut" [hidden]="oculto" type="text" (change)="keypress($event)" >
              <!-- <input type="file" multiple="false" id="filel" [hidden]="oculto"
                style="margin:3px;"
                (change)="read($event)" 
                 > --->   
          </div>
     </li>
</ul>
</div>