img#img_banner{
    border-radius: 20px;
    display: flexbox;
    margin: auto;
    width: 1920px;
    height: 800px;
    max-width: 100%;
}
div#banner{
    margin-top: 5px; 
    border-radius: 20px;
    border-style: groove;
    padding: 10px;  
}

.foto{
    border-color: black;
    border-radius:  30%; ;
    width: 300px;
    margin-inline-start: 5px;
    left: 20px;
    top: 700px;
    position:absolute;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 10px;
}
.soy{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
button{
    margin-left: 10px;
}
div#unsa{
    display: flexbox;
    position:absolute;
    left: 90%;
    top: 890px;
    margin-inline-end: 50px;
    align-items: center;
    margin-bottom: 30px;
}
.unsa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}