
<body>
  <app-header></app-header>
  <app-encabezado></app-encabezado>
  <app-acerca></app-acerca>
  <app-exp></app-exp>
  <app-educacion></app-educacion>
  <app-skills></app-skills>
  <app-proyectos></app-proyectos>
  <!--aqui guardo los imput hasta que los utilice
  <input id="edit-acerca" oninput="myFunction2(this.value)" style="display:none"type="text">
  <input type="file"id="filel"onchange="showFile(this)"style="display:none; margin:3px">

     <script>
          function cambiar_parrafo(){
               document.getElementById("edit-acerca").style.display="block";
               document.getElementById("filel").style.display="block";
               let texto=document.getElementById("text-acerca").innerText;
               console.log(texto);
           };
           function myFunction2(valor){
                    document.getElementById("text-acerca").innerText=valor;
               }
               function logMessage(message){
               console.log(message+"<br>");
               }
              
               // controla si se presiono un enter
          let textarea=document.getElementById("edit-acerca")
               textarea.addEventListener('keyup',(e) => {
               logMessage(`Key "${e.key}"released [event:keyup]`) ;
                if(e.key =="Enter"){
                      document.getElementById("edit-acerca").style.display="none"
                      document.getElementById("filel").style.display="none"
                          }
                    });
     
               // carga el contenido de un archivo de texto
               //y lo muestra en el parrafo
               
               function showFile(input) {
                    let file = input.files[0];-
                    alert(`File name: $ {file.name}`);// e.g my.png
                    alert(`Last modified:${file.lastModified}`) ;
                    
               let reader=new FileReader();
                    reader.readAsText(file);
                    reader.onload=function(){
                    console.log(reader.result);
                    document.getElementById("text-acerca").innerText=reader.result;
               };
               reader.onerror=function(){
                    console.log(reader.error);
               };
          };
          function ajusta() {
               var horizontales = document.querySelectorAll("#graficos .horizontal"); 
               var elem = 0; 
          while(elem < horizontales.length) {
               horizontales[elem].style.transition = "background-size 3s ease-in-out 2s"; 
               horizontales[elem].style.backgroundSize = horizontales[elem].innerHTML+" 100%"; 
               elem++; 
          }; 
     }
     onload = ajusta; 
     </script>
   -->
 
</body>