
<div id="skills" >
    <h1>Hard Skills & Soft Skills</h1>
    <a href="#" class="plus" onclick="cambiar_parrafo()" >
     <i class="fab fa-plus fa-3x" ></i>
</a>
     

    <li *ngFor="let skills of skilist">
          
          <div id="graficos">  
                    <p >{{skills.position}}</p>
                    <figure class="horizontal">{{skills.porcentaje}}</figure>
                    
          </div> 
          <div class="btn-edit">
               <a href="#" class="btn-rigth"><i class="fa fa-pen"></i></a>
               <a href="#" class="btn-rigth"><i class="fa fa-trash" style="margin-left:2% ;"></i></a>
           </div>
     </li>     
     
</div>
