div#skills{
    margin-top: 5px;
    border-radius: 20px;
    border-style: groove;
    padding: 5px;
}
#graficos {
    position: flex;
    display: inline-block; 
    margin: .5em auto; 
    padding: 0 .5em .5em; 
    border-style: double;
    font: 900 2em/1.2 sans-serif; 
    float: none;
    border-radius: .25em; 
    }
#graficos .horizontal {
    display: block; 
    font: 1100 .5em/1 monospace; 
    text-align: center; 
    
    width: 30em; height: 2em; 
    background-color: gainsboro; 
    padding: 0; 
    border-right: solid 2.5em transparent; /* truco para compensar bg-position */
    background-image: linear-gradient(rgb(5, 167, 32), rgb(121, 216, 112)); 
    background-repeat: no-repeat;
    background-position: 0; 
    background-size: 0 100%; 
}